section{
  float:right;
  width: 45%;
  margin: 20px;
  padding: 10px;
  margin-bottom: 50px;
  text-align: center;

}

section img{
  width: 400px;
  height: 400px;
  border: 2px solid turquoise;
}

#photo-template{
  display: none;
}